@using System.Net.Http.Json
@using InvestmentManager.Shared.Models
@using InvestmentManager.Shared.Models.Enums
@using InvestmentManager.Services.Interfaces
@using MudBlazor
@using Microsoft.AspNetCore.Authorization
@using System.Reflection
@using System.ComponentModel.DataAnnotations
@using System.Globalization

@page "/transactions"

@attribute [Authorize]

<PageTitle>Transações</PageTitle>

<MudButton Variant="Variant.Filled"
		   Style="background-color: #1976D2; color: white;"
		   OnClick="OpenAddTransactionsDialogAsync"
		   StartIcon="@Icons.Material.Filled.Add"
		   Class="mb-2 p-4"
		   Elevation="1">
</MudButton>
<MudPaper Style="background-color:white; " MaxWidth="1650px" MaxHeight="1500px" Elevation="0">
	<MudPaper Class="pa-4 ml-5"
			  Style="background-color: #F5F5F5; border-radius: 10px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); align-content: center"
			  Elevation="3"
			  Width="97%" >
	<MudTable Items="@FilteredTransactions"
			  Loading="@IsLoading" Dense="false"
			  Hover="true"
			  ReadOnly="false"
			  CanCancelEdit="true"
			  Filter="new Func<Transaction,bool>(FilterTransactions)"
			  @bind-SelectedItem="SelectedItem1"
			  SortLabel="Sort By"
			  Striped="true"
			  Style="background-color: #F5F5F5;"
			  Height="680px" Elevation="0">
		<ToolBarContent>
			<!-- Espaçamento entre botões e tabela -->
			<!-- Filtro e Pesquisa -->
			<MudSelect T="string" @bind-Value="_selectedTransactionType" Variant="Variant.Text" class="filtro-e-pesquisa">
				<MudSelectItem Value="@TransactionTypeAll">Todos</MudSelectItem>
				<MudSelectItem Value="@TransactionTypePurchase">Compras</MudSelectItem>
				<MudSelectItem Value="@TransactionTypeSale">Vendas</MudSelectItem>
			</MudSelect>
			<MudTextField @bind-Value="SearchString" Placeholder="Pesquisar (Código ou Data)" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
			<MudSpacer />
			<MudSpacer />
			<MudSpacer />
			<MudSpacer />
			<MudSpacer />
			<MudSpacer />
		</ToolBarContent>

		<HeaderContent>
			<MudTh>
				<MudTableSortLabel SortBy="new Func<Transaction, object>(x => x.Asset.Ticker)">
					<span class="table-header">Código</span>
				</MudTableSortLabel>
			</MudTh>
			<MudTh class="teste">
				<MudTableSortLabel SortBy="new Func<Transaction, object>(x => x.Asset.Type)">
					<span class="table-header">Tipo</span>
				</MudTableSortLabel>
			</MudTh>
			<MudTh>
				<MudTableSortLabel SortBy="new Func<Transaction, object>(x => x.IsBuy)">
					<span class="table-header">Compra/Venda</span>
				</MudTableSortLabel>
			</MudTh>
			<MudTh>
				<MudTableSortLabel SortBy="new Func<Transaction, object>(x => x.Quantity)">
					<span class="table-header">Quantidade</span>
				</MudTableSortLabel>
			</MudTh>
			<MudTh>
				<MudTableSortLabel SortBy="new Func<Transaction, object>(x => x.UnitPrice)">
					<span class="table-header">Preço (R$)</span>
				</MudTableSortLabel>
			</MudTh>
			<MudTh>
				<MudTableSortLabel SortBy="new Func<Transaction, object>(x => x.TotalValue)">
					<span class="table-header">Valor Total (R$)</span>
				</MudTableSortLabel>
			</MudTh>
			<MudTh>
				<MudTableSortLabel InitialDirection="SortDirection.Descending"
								   SortBy="new Func<Transaction, object>(x => x.TransactionDate)">
					<span class="table-header">Data</span>
				</MudTableSortLabel>
			</MudTh>
		</HeaderContent>
		<RowTemplate>
			<MudTd DataLabel="Código">@context.Asset.Ticker</MudTd>
			<MudTd DataLabel="Tipo do Ativo">@GetAssetTypeDescription(context.Asset.Type)</MudTd>
			<MudTd DataLabel="Tipo">
				@if (context.IsBuy)
				{
					<MudChip T="string" Style="background-color:#64af67; color: white;" Variant="Variant.Filled" Size="Size.Small" Icon="@Icons.Material.Filled.ArrowUpward">
						Compra
					</MudChip>
				}
				else
				{
					<MudChip T="string" Style="background-color: #E57373; color:white" Variant="Variant.Filled" Size="Size.Small" Icon="@Icons.Material.Filled.ArrowDownward">
						Venda
					</MudChip>
				}
			</MudTd>
			<MudTd DataLabel="Quantidade">@GetQuantity(context)</MudTd>
			<MudTd DataLabel="Preço R$">@context.UnitPrice</MudTd>
			<MudTd DataLabel="Valor Total">@GetTotalValue(context)</MudTd>
			<MudTd DataLabel="Data">@context.TransactionDate.GetValueOrDefault().ToString("dd/MM/yyyy")</MudTd>
		</RowTemplate>
		<RowEditingTemplate></RowEditingTemplate>
		<PagerContent>
			<MudTablePager />
		</PagerContent>
		<EditButtonContent Context="button">
			<MudIconButton Size="@Size.Small" Color="Color.Error" Icon="@Icons.Material.Filled.Delete" Class="delete-button" @onclick="_ => DeleteTransaction(button.Item)" Disabled="@button.ButtonDisabled" />
		</EditButtonContent>
	</MudTable>
	</MudPaper>
</MudPaper>


<style>
	/* Ocultar os botões por padrão */
	.delete-button {
		visibility: hidden;
	}

	/* Mostrar os botões quando a linha é focada pelo mouse */
	.mud-table-row:hover .delete-button {
		visibility: visible;
	}

	.custom-toolbar-bg {
		background-color: #F5F5F5;
	}

	.table-header {
		font-weight: bold;
		font-size: 14px;
		color: #37474F;
		text-transform: uppercase;
	}

	.mud-table-head {
		background-color: #F5F5F5; /* Fundo cinza claro para os cabeçalhos */
		padding: 8px; /* Espaçamento interno */
		text-align: center; /* Centralizar texto */
	}

	:root {
		--mud-palette-table-hover: #e7e7e7; /* #0000000a is default */
	}

	.filtro-e-pesquisa {
		margin-left: -10px;
	}

	.form-horizontal {
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
	}

	.form-field {
		margin-right: 10px;
		/* Defina a largura desejada aqui */
	}

	.form-button {
		margin-top: 4px;
	}

	.add-transactions-dialog-class {
		backdrop-filter: blur(7px);
	}
</style>